@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
body {
  background-color: #e9ddd0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
}
h1{
  font-family: "Lilita One", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
/* Hide scrollbar globally */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar - cross-browser */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

/* For text */
.shiny-text {
  background: linear-gradient(90deg, #9e9e9e, rgb(0, 0, 0), #9e9e9e);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 6s linear infinite;
}

/* For block elements */
.shiny-bg {
  background: linear-gradient(90deg, #9e9e9e, rgb(0, 0, 0), #9e9e9e);
  background-size: 200% auto;
  animation: shine 6s linear infinite;
}

@keyframes particle-burst {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(0.5);
  }
}
